* {
  box-sizing: border-box;
}
body {
  margin: 0;
  /* background-image: url("./bg1.jpg");
  background-repeat: repeat-x;
  background-size: auto 100vh;
  background-position-x: center; */
}
.bg-image {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  opacity: .5;
}

.header {
  background-color: white;
  display: flex;
  padding: 8px 24px;
}
.header .header-part {
  width: 100%;
  display: flex;
}
.small-part1 {
  flex-grow: 1;
}
.small-part2 {
  width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}

.small-part1 ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.small-part1 ul li {
  padding: 0 10px;
  font-size: 1.5rem;
}
.small-part1 ul li a {
  text-decoration: none;
  color: #ef7998;

}

.cart{
  border: solid black 1px;
  border-radius: 3px;
  padding: 7px;
}

.poster {
  height: calc(100vh - 70px);
}

.poster div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  color: black;
}

.poster span{
  font-size: 3.2rem;
  color: #ef7998;
}

.poster button{
  font-size: 2rem;
  padding: 6px 12px;
  background-color: transparent;
  border: solid black;
  border-radius: 3px;
}

.poster button:hover{
  background-color: black;
  color: #ef7998;
}

.about {
  height: 60vh;
  background-color: white;
}
.products {
  height: 700px;
  background-color: #eeeeee;
}
